.dropDownList {
  min-width: 100px;
}

.dialogAddTitle {
  background-color: #1976d2;
}

.dialogEditTitle {
  background-color: #1b5e20;
}

.dialogErrorTitle {
  background-color: #dc2511ee;
}

.dialogInfoTitle {
  background-color: #0288d1;
}