.cardContent {
  height: 170px;
}

.cardHeader {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 120px;
}

.cardContentDescript {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100px;
}

.cardSubtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
