.poductionOption {
  min-height: 450px;
}

@media (max-width: 880px) {
  .poductionOption {
    min-height: 100%;
  }
}
@media (min-width: 880.5px) and (max-width: 1150px) {
  .poductionOption {
    min-height: 160px;
  }
}
